{% capture footer_contents %}
  &copy; Copyright {{ site.time | date: '%Y' }}.
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

<footer class="fixed-bottom" role="contentinfo">
  <div class="container mt-0">
    <div class="contact-icons">{% include social.liquid %}</div>
    {{ footer_contents }}
  </div>
</footer>
