<footer class="site-footer">
  <div class="wrapper footer-inner">
    <span class="footer-copy">&copy; {{ site.time | date: "%Y" }} {{ site.title }}</span>
    <div class="footer-social">
      <a href="https://www.facebook.com/yuko.osawa.79" target="_blank" rel="noopener" aria-label="Facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://twitter.com/OsawaYuko" target="_blank" rel="noopener" aria-label="Twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/channel/UC4T3tM6YP1j1Yt-KI4fQruA" target="_blank" rel="noopener" aria-label="YouTube">
        <i class="fa fa-youtube"></i>
      </a>
    </div>
  </div>
</footer>
