---
layout: default
---
{% assign year = page.date | date: '%Y' %}
{% assign tags = page.tags | join: '' %}
{% assign categories = page.categories | join: '' %}
{% assign url_beginning = page.url | slice: 0, 6 %}

{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <article class="post-content">
    <div id="markdown-content">
      {{ content }}
    </div>
  </article>

  {% if page.program %}
    <h2>Programme</h2>
    {% for piece in page.program %}
      <div class="piece">
        {{ piece }}
      </div>
    {% endfor %}
  {% endif %}

  {% if page.artists %}
    <h2>Artistes</h2>
    {% for artist in page.artists %}
      <div class="artist">
        {% assign biography = site.biographies | where: 'slug', artist | first %}
        {{ biography.output }}
      </div>
    {% endfor %}
  {% endif %}
</div>
