---
layout: default
---
<div class="post">
  <article>
    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        {% include events_url.liquid %}
        <a href="{{ url }}" style="color: inherit">Agenda</a>
      </h2>
      {% include events.liquid limit=true %}
    {% endif %}

    <div class="clearfix">{{ content }}</div>
  </article>

  {% assign biography = site.biographies | where: 'slug', page.biography | first %}
  {{ biography.output }}
</div>
