---
layout: default
---
<div class="post">
  <article>
    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/agenda/' | relative_url }}" style="color: inherit">Agenda</a>
      </h2>
      {% include events.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid limit=true %}
    {% endif %}

    <div class="clearfix">{{ content }}</div>
  </article>
</div>
