---
layout: default
---
{% for post in paginator.posts %}
  <h1>{{ post.title }} {{post.date | date: "%Y-%m-%d" }}  </h1>
{% endfor %}

{% if page.pagination.enabled %}
{% include pagination.liquid %}
{% endif %}